#background {

	background-color: lightgray;
}

.content {

	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}

.bubble {

	background-color: white;
	border-radius: 16px;
	padding: 16px;
}

.item-list-flex {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.item-container {

	background-color: white;
	border-radius: 16px;
	padding: 16px;
	padding-bottom: 48px;
	margin: 16px;

	width: 250px;

	display: inline-block;

	text-decoration: none;
	color: black;

	position: relative;
}

.item-image-container {

	text-align: center;
	margin: 8px;
}

.description {

	font-size: 14px;
}

.bold {

	font-weight: bold;
}

.static-footer {

	position: sticky;
	bottom: 16px;
}

.button-larger {

	padding: 8px 16px 8px 16px;
	margin: 4px;
}

.item-button {

	position: absolute;
	bottom: 16px;
}